@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}

.active div:nth-child(1) {
  color: #FA9733;
  font-weight: 600;
  opacity: 1;
}

.active div:nth-child(2) {
  background: #FA9733;
  opacity: 1;
}

.open-sidebar {
  animation: openSidebar 0.5s ease 0s 1 normal forwards;
}
.close-sidebar {
  animation: closeSidebar 0.5s ease 0s 1 normal forwards;
}

@keyframes openSidebar {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes closeSidebar {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}